:root {
  /* padding, gap, border-radius */
  --size-sm: 12px;
  --size-md: 18px;
  --size-lg: 24px;

  /* width, height for card */
  --max-card-width-in-grid-container: calc(33.333% - var(--size-md) * 2 / 3);
  --min-card-width: 210px;
  --card-height: var(--min-card-width);

  /* Sidebar */
  --sidebar-width: 264px;
}
